@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-f: hsl(211, 68%, 94%);
    --Light-grayish-blue-s: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--Very-light-grayish-blue);
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin-top: 1.2rem;
    padding: 1.2rem;
    background-color: var(--White);
    border-top-right-radius:15px ;
    border-top-left-radius: 15px;
}

header .title{
    color: var(--Very-dark-blue);
}

header .title span{
    background-color: var(--Blue);
    color: var(--White);
    padding: 0 .5rem;
    border-radius: 8px;
    margin-left: .22rem;
}

header .mark-as-read{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: all .2s ease-in-out;

}

main{
    max-width: 700px;
    margin-bottom: 1.2rem;
    padding: 0  1.2rem;
    background-color: var(--White);
    border-bottom-right-radius:15px ;
    border-bottom-left-radius: 15px;
}

.card, .box, .sub-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin: 1rem 0;
    padding: .5rem;
    background-color: var(--Very-light-grayish-blue);
    border-radius: 8px;
}

.user-img{
    width: 50px;
    height: 50px;
}

main .first-container .card .txt-container .para span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--Red);
    border-radius: 50%;
}

.user-link{
    color: var(--Very-dark-blue);
    font-size: 1.02rem;
    font-weight: 800;
    text-decoration: none;
    transition: all .2s ease-in-out;

}

.mark-as-read:hover ,.user-link:hover,.first-tournament:hover, .bold-link:hover{
    color: var(--Blue);
}

.first-tournament{
    text-decoration: none;
    font-weight: 800;
    color: var(--Dark-grayish-blue);
}

.bold-link{
    font-weight: 800;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: all .2s ease-in-out;
}

main .first-container .para-time{
    margin-top: .2rem;
}

main .second-container{
    margin-top: 1.5rem;
}

main .second-container .container{
    margin-bottom: 1.5rem;
}

.box, .sub-container, main .second-container .card{
    background-color: var(--White);
}

main .container .message{
    border: 1px solid var(--Dark-grayish-blue);
    padding: .5rem;
    border-radius: 8px;
    margin-left: calc(50px + 1.2rem);
    transition: all .2s ease-in-out;
}

main .container .message:hover{
    background-color: var(--Light-grayish-blue-s);
    border-color: var(--Light-grayish-blue-s);
}

main .second-container .comment-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: .5rem;
}

footer{
    text-align: center;
    margin-bottom: 1rem;
}

footer a{
    color: var(--Blue);
    text-decoration: none;
}

@media screen and (max-width:700px) {
    body{
        background-color: var(--White);
    }
    header, main{
        padding: 0 .25rem;
    }
    header .title{
        font-size: 1.1rem;
    }

    .card, .box, .sub-container{
        align-items: flex-start;
    }

    main .second-container .comment-card{
        align-items: flex-start;
    }

    main .second-container .comment-card .link-img{
        margin-top: 1.5rem;
    }

}

















